body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2b2b2b;
}

#banner {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2f4f4f;
    color: white;
    padding: 2vh 0;
    border-bottom: 0.2vh solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#banner h1 {
    margin: 1vw;
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
    font-size: 4vh;
}

#banner img {
    margin-right: 1vw;
    width: 5vh;
    height: 5vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-top: 10vh; /* Space for the banner */
    padding-bottom: 10vh; /* Space for the footer */
    box-sizing: border-box;
    
}

button {
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    background-color: rgb(70, 81, 87);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 2vh;
    box-shadow: 0 0.8vh 1.6vh rgba(0,0,0,0.6);
    transition: box-shadow 0.2s, background-color 0.2s;
    margin-top: 2vh;
}

button:active {
    box-shadow: 0 0.2vh 0.2vh rgba(0,0,0,0.4);
}

#textbox {
    height:400px;
    padding: 5vh;
    background-color: rgb(63, 82, 79);
    color: rgb(255, 255, 255);
    border-radius: 2vh;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 4vh;
    font-weight: lighter;
    box-shadow: 0 0.8vh 1.6vh rgba(0,0,0,0.4);
    width: 80%;
    margin: 2vh auto; /* Center horizontally */
    text-align: center; /* Center text */
    display: flex; /* Enable flexbox */
    flex-direction: column;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}


#author{
 text-align: bottom;
 font-style: italic;
 font-weight: 100;
 font-size: 20px;
 padding: 25px;
 margin-bottom: 20px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2f4f4f;
    color: white;
    padding: 2vh 0;
    border-top: 0.2vh solid white;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items next to each other */
}

#footer-text {
    margin-left: 2vw; /* Adjust margin */
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
    font-size: 2vh;
}

#footer-text a {
    color: white;
    text-decoration: none;
}

#footer-text a:hover {
    color: rgb(150, 190, 180);
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    
    #banner h1 {
        font-size: 3vh;

    }

    #banner img {
        width: 5vh;
        height: 5vh;
        margin: 0 10px 0 10px;
    }

    #container{
        margin: 7%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    #textbox {
        font-size: 3.5vh;
        height: 400px;
        margin: o 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    button {
        width: 10vh;
        height: 10vh;
        font-size: 1.8vh;
        }

    #footer-text {
        font-size: 1.8vh;
    }
}

@media (max-width: 480px) {
    
    #container{
        margin: 0 auto;
    }

    #banner {
        padding: 1.5vh 0;
    }

    #banner h1 {
        font-size: 20px;
    }

    #banner img {
        width: 3.5vh;
        height: 3.5vh;
    }

    #textbox {
        font-size: 2vh;
    }

    button {
        width: 8vh;
        height: 8vh;
        font-size: 1.5vh;
    }

    #footer {
        padding: 0.8vh 0;
    }

    #footer-text {
        font-size: 1.5vh;
    }
}
